<div class="container mb-6">

  <div class="row mt-5 ">
    <div class="col-sm-12 col-md-6 text-sm-center text-md-left">

      <h1>Add a Plant</h1>
      <hr>
      <h2 class="mt-4">Select a house plant </h2>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <form id="addPlant" class="mb-4">
        <select class="form-control" id="drop-down">
          {{!-- options are added dynamically in logic.js --}}
          <option value="-1">Default select</option>
        </select>
    </div>
  </div>
  <hr class="hrReset mb-3">
  <div class="row">
    <div class="col-sm-12 col-md-6 text-sm-center text-md-left">
      <h2 class="my-3">Or input your own plant information</h2>
      <p>Must fill in at least one of the watering needs fields.**</p>

    </div>
  </div>

  <div class="row">
    <div class="col col-sm-12 col-md-6  text-md-left">
      <div class="form-group">
        <label for="commonName" class="uppercase">Common Name</label>
        <input name="common-name" type="text" class="form-control" id="commonName" placeholder="Cat Palm Tree">
      </div>

      <div class="form-group">
        <label for="scientificName" class="uppercase">Scientific Name</label>
        <input name="scientific-name" type="text" class="form-control" id="scientificName" placeholder="Chamaedorea cataractarum">
      </div>

      <div class="form-group">
        <label for="sunNeeds" class="uppercase">Sun Needs</label>
        <select class="form-control" id="sunNeeds">
          <option value="1">Full Sun</option>
          <option value="2">Partial Sun</option>
          <option value="3">Low Sun</option>
          <option value="4">I don't know</option>
        </select>
      </div>

      <div class="form-group">
        <label for="petFriendly">Pet Friendly?</label>
        <select class="form-control" id="petFriendly">
          <option value="1">Yes</option>
          <option value="2">No</option>
          <option value="4">I don't know</option>
        </select>
      </div>

    </div>


    <div class="col">
      <div class="form-group">
        <label for="wateringNeedsInt" class="uppercase">Watering Needs (input how many days between waterings)**</label>
        <input name="watering-needs-int" type="text" class="form-control" id="wateringNeedsInt" placeholder="4"> {{!-- need to validate num --}}
      </div>

      <div class="form-group">
        <label for="wateringNeedsText" class="uppercase">Watering Needs (text)**</label>
        <textarea name="watering-needs-text" type="text" class="form-control" rows="3" id="wateringNeedsText" placeholder="Keep the soil evenly moist, but not soggy."></textarea>
      </div>

      <p>If you include text you'll need to click the WateredIt! button at least three times to establish a pattern for the
        app to take over.</p>

    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button class="submit btn btn-outline-dark px-6 mt-3 mr-3" id="submitPlant" type="submit">Submit</button>
      <button class="btn btn-outline-dark px-6 mt-3" id="cancelAddPlantBtn">Cancel</button>

      </form>
    </div>
  </div>

    <!-- Congrats Msg Modal -->
    <div class="modal fade" id="congratsMsgModal" tabindex="-1" role="dialog" aria-labelledby="congrats-msg-modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <h5 class="modal-title" id="congrats-msg-modal"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <!-- "Need more info" message Modal -->
    <div class="modal fade" id="needInfoMsgModal" tabindex="-1" role="dialog" aria-labelledby="needInfo-msg-modal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="wrap">
            <div class="modal-header">
              <h4 class="modal-title" id="needInfo-msg-modal">More Info Please!</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="lead">Please supply a "common name" for your plant as well as its watering needs in days OR text.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>




</div>
</div>